/** 1 Descendant Compinators */

/*note Using Space*/
.cont1 p{
    color: red;
}
/*out Both P Turns Red*/

/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/


/**2 Child Combinator */

/*note Only Direct Child Background Color Change*/
.cont1>p{
    background-color: aqua;
}
/*out Only <p>Direct Child</p> background turns Blue */


/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/



/**3 Adjacent Sibling combinator*/

/*Note Using "+"*/

.cont2 p+h1{ 
    color: pink;
}

/*out Only h1 Became pink   */




/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/
/*** ---------------------------------------------  **/

/**4. General Sibling Combinators */

/*Note Using "~" */
.cont2 p~h1{ 
    background-color: green;
}

/*out all h1 background color change */
