/*Note *1 USER-ACTION*/

/**(a) Hover */

.User_Action button{
    color: yellow;
    background-color: rgb(39, 207, 17);
}
.User_Action button:hover{
    color: red;
    font-style: bold;
    background-color: rgb(32, 122, 103);
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(b) Active */

.User_Action .lnk1{
    color: red;
    cursor: pointer;
    
}
.User_Action .lnk1:active{
    color: blue;
    
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(c) Focus */

.User_Action input{
    color: red;
    background-color: yellow;
    cursor: pointer;
    
}
.User_Action input:focus{
    color: blue;
    background-color: yellowgreen;
    
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(d) Visited */

.User_Action .lnk2{
    color: red;
    background-color: yellow;
    cursor: pointer;
    
}
.User_Action .lnk2:visited{
    color: blue;
    background-color: yellowgreen;
    
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(d) link */

.User_Action .lnk3{
    color: red;
    background-color: yellow;
    cursor: pointer;
    
}
.User_Action .lnk3:link{
    color: blue;
    background-color: yellowgreen;
    
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/


/*Note  2. Structural(Position In DOM) */

/**(a) First Child */

.Structural:first-child{
    color: red;
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(b) nTH Child */
/*expl The Third Child turns Aqua*/
.Structural p:nth-child(3){
    color: aqua;
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(c) nTH of type  */
/*expl The Third Child turns Aqua*/
.Structural p:nth-of-type(4){
    color: green;
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(d) Last Child  */
/*expl The Third Child turns Aqua*/
.Structural p:last-child{
    color: violet;
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/

/**(e) Only Child  */
/*expl The Third Child turns Aqua*/
.Only p:only-child{
    color: yellow;
}

/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/
/******* -----------------------------------------------------------------------*/