#named{
    background-color: red;
}
#Hex{
    background-color: #ff00f0;
}
#Rgb{
    background-color: rgb(120, 150, 200); /** Red ,Green, Blue*/

}
#Rgba{
    background-color: rgba(0, 0, 220, 0.5) ;/** Red,Green,Blue,Alpha(Opacity-from 0(fully-transparent)  1.0 (fully opaque)  [[here,Blue with 50% Transparent]] */
}

#Hsl{
    background-color: hsl(120, 50%, 50%);/** (hue,saturation(in %) , Lightness (in %) */

}

#Hsla{
    background-color: hsla(80, 100%, 50%, 1.0);
}

